.CormorantInfant-serif {
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: "Cormorant Infant", serif;
}

.btn-dark {
  background: #5E3F89; 
  color: #fff;
  border-radius: 17; 
  height: 50px; 
  width: 160px; 
  text-align: center; 
  font-size: 30; 
  font-family: "Cormorant Infant", serif;
  margin: 8px;
}

.btn-dark:hover {
  
}

.btn-normal {
  background: #DBC1FF; 
  color: #5E3F89;
  border-radius: 17; 
  border-color: #DBC1FF;
  
  height: 50px; 
  width: 160px; 
  text-align: center; 
  font-size: 30; 
  font-family: "Cormorant Infant", serif;
  font-weight: bold;
  margin: 8px;
  transition: all 300ms ease-out;
}

.btn-normal:hover {
  background: #5E3F89;
  color: #fff;
}

